
InputData/Demand_time_series/

.vscode/

Presentations/DiscussionJelle_23_11_07.pptx

Results/model_results_pivots.xlsx

Results/ImportExportCurves/

Results/soc_files/

Results/Figures/SanityCheck/

BackToBasics.jl

Presentations/Update_on_Trade_curve_issues.pptx
